[submodule "addons_gen"]
	path = addons_gen
	url = git@github.com:3DigitalGT/addons_gen.git
	branch = release/15.0
[submodule "addons_rrhh"]
	path = addons_rrhh
	url = git@github.com:3DigitalGT/addons_rrhh.git
	branch = release/15.0
